# **PANDAS**

### **How to Load Data into Pandas**

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv('pokemon_data.csv')
print (df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [56]:
## TO check your data use the following functions
print(df.head())
## we can also use a number to check till a no of point eg
## print(df.head(3))
## This makes print the first 3 lines
## We can also check the last lines of of the datafile by using the following functions
## print(df.tail(3))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

### Reading data in Pandas

##### This is how we read headers

In [57]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

##### This is how we read each columns

In [58]:
print(df['Name'])
## You can also specify the no of columns u wanna see by using this     print(df['Name'][0:5])
## And if u want multiple columns what u need to do is pass in a list as follows     print(df[['Name'],['Speed']])
## use the appropriate headings to get the appropriate columns

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

##### Read Row

In [59]:
## To read rows we will use a function called iloc
print(df.iloc[0:4])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

##### How to read a specific location

In [60]:
print(df.iloc[2,1])

Venusaur

##### If u want to look at specific data with certain specs for example looking at all grass type pokeymon in this database

In [97]:
df.loc[df['Type 1'] == "Grass"]
## we can also use other conditional arguments

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,405,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,530,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False

##### To get a basic description we can use the Describe function

In [62]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### We can sort a data frame in the following ways

In [63]:
df.sort_values('Name')
## We can also use df.sort_values('Name', ascending = Fase) to get desending sorting
## We can also sort by multiple columns by passing in a list (['Name', 'HP'], ascending = Fase)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

### Making changes to our data

In [64]:
 ## We will try to make a total of the data present in the data table starting from HP to speed from the following ways.
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

##### Now for an example we need to drop a column or delete a column in we use the drop function in the following ways

In [65]:
df = df.drop(columns=['Total'])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

##### Another way to do this is

In [66]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
## We needed to do 4 to 10 for the reason that 10 here is exclusive the 10th row is exclusive
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

##### Now if we want to change the place of a certain row location for example if we want the total row to be present after speed
We can approach this in the following way:-
We will take the headings of the rows as a list and then rearrange them we can manually place every row but that will be a hideous task.

In [67]:
## Storing the heading of lists of the rows as a list in a variable
cols = list(df.columns)
print (cols)

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

In [68]:
df = df[cols[0:10] + [cols[-1]] + cols[10:12]]
## We needed to pass cols[-1] in a list as srtings cant be used here
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

#### Be careful while hard-coding numbers in your code if your data set changes we are potentially in trouble

### Now lets see how to save the we worked on CSV

In [69]:
df.to_csv('modified.csv', index = False)
## To save it as an Excel file we can use the to_excel function
## df.to_excel('modified.xlsx', index = False)

In [70]:
df_2 = pd.read_csv('modified.csv')
df_2.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [71]:
## Now if we want to make a Txt file but separated by tabs we we use the following syntax
## df.to_csv('modified.txt', sep='\t')

## Filterring data

In [87]:
## Now for example we only want to see pokemon who are grass type the syntax for that is as follows
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,405,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,530,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False

In [88]:
## We can also use multiple filters by using other logical arguments like (& | or) etc that will look something like the following

In [89]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,395,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,300,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,390,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,400,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,280,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,515,4,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,294,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

##### BTW "and" can be written as (and or &)
##### Similarly "or" can be written as (OR / |)
##### Only applicable in pandas library

#### Now let's see how to filter only the Pokemon who has mega in there name

In [90]:
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,590,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,600,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,590,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,615,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,525,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,610,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,610,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,600,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,600,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,600,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,700,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,630,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,630,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,618,3,False
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,480,3,False
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,480,3,False
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,630,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,510,3,False
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,575,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,560,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,590,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,555,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,565,3,False
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,580,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,700,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,700,3,False
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,700,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,700,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,580,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,700,4,False
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,625,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,594,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,618,4,False
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,545,5,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True

In [91]:
## And now for example we need the names of the pokemon excluding the mega ones we do the following
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,600,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

#### Now let's look at some other complex data filtration problems
##### What if we want to see all the Pokemon who is either grass-type or fire type 
##### We use the re pacakge (regular expression) pacakge

In [92]:
import re
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
## the flags=re.I is a flag which is used to ignore the case sensitivity in a data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

##### Now let's filter the Pokemon which's name starts with "Pi"

In [93]:
df.loc[df['Name'].str.contains('^pi[a-z]', flags=re.I, regex=True)]
## The ^ Stands for the start of the word also called an anchor

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False

## Conditional Changes

##### For example we want to change the name of type 2 water to Squirt

In [104]:
df.loc[df['Type 1'] == 'Grass', 'Type 1'] = 'Squirt'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Squirt,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Squirt,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Squirt,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Squirt,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [105]:
## Now lets turn it back to normal
df.loc[df['Type 1'] == 'Squirt', 'Type 1'] = 'Grass'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

## Agrigate Statistics(Groupby)

#### This is used to assess standard statistical data.  
##### For example if we want to see which type of Pokemon has the highest defence we can do the following we can take the highest mean

In [116]:
df = pd.read_csv('modified.csv')
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

TypeError: agg function failed [how->mean,dtype->object]